<nav class="docs-navbar-header">
  <div class="container">
    <a routerLink="/" mat-button color="white">MEAN Stack</a>
    <div class="flex-spacer"></div>
    <button
      class="icon-button"
      mat-button
      (click)="openSignUpDialog('login')"
      *ngIf="!userIsAuthenticated"
    >
      Login
    </button>
    <button
      mat-flat-button
      class="btn-primary"
      routerLink="/signup"
      (click)="openSignUpDialog('signUp')"
      *ngIf="!userIsAuthenticated"
    >
      Sign up
    </button>

    <div
      class="d-flex align-items-center"
      [matMenuTriggerFor]="menu"
      *ngIf="userIsAuthenticated"
    >
      <button mat-button>
        {{ userName }}
      </button>
      <div mat-card-avatar class="mat-header-avatar"></div>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/settings/account" class="custom-font">Settings</a>
        <button mat-menu-item (click)="onLogout()" class="custom-font">
          Logout
        </button>
      </mat-menu>
    </div>
    <a
      class="icon-button btn-primary"
      mat-flat-button
      routerLink="/create"
      *ngIf="userIsAuthenticated"
    >
      <mat-icon>add</mat-icon>
      Upload
    </a>
  </div>
</nav>
