.custom-font {
  font-family: "Inter", "Helvetica Neue", sans-serif !important;
}

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  color: #fff;
}

.docs-navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: #000;
}

.flex-spacer {
  flex-grow: 1;
}

.icon-button {
  padding-left: 10px !important;
}

.icon-button mat-icon {
  font-size: 16px;
  width: 16px;
  height: 18px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex: 1;
}

button[mat-button],
button[mat-flat-button],
a[mat-button],
a[mat-flat-button] {
  font-weight: 600 !important;
}

.mat-header-avatar{
  height: 37px;
  width: 37px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
  background-image: url(https://material.angular.io/assets/img/examples/shiba1.jpg);
  background-size: cover;
  margin-right: 16px;
  cursor: pointer;
}
