<div class="auth-dialog-container">
  <div *ngIf="!emailRegistration">
    <h2 mat-dialog-title>{{ title }}</h2>
    <p>{{ subtitle }}</p>
    <!-- External authentication -->
    <div class="external-login-container">
      <button
        class="btn-facebook"
        mat-flat-button
        [disabled]="isLoading"
        (click)="fbLogin()"
      >
        <div class="inline-icon" id="facebook"></div>
        Facebook
      </button>
      <button
        class="btn-google"
        mat-flat-button
        [disabled]="isLoading"
        (click)="googleLogin()"
      >
        <div class="inline-icon" id="google"></div>
        Google
      </button>
    </div>
    <mat-divider style="margin-bottom: 20px"></mat-divider>
    <div *ngIf="mode === 'signUp'">
      <p>
        Sign up with your
        <span class="link-text" (click)="onRegisterEmail()">Email</span>
      </p>
      <p>
        Have an account?
        <span class="link-text" (click)="onLoginOption()"> Login </span>
      </p>
    </div>

    <!-- Login form -->
    <div *ngIf="mode === 'login'">
      <p>Login with your Email</p>
      <form (ngSubmit)="onEmailLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input
            matInput
            ngModel
            required
            email
            type="email"
            name="email"
            [disabled]="isLoading"
            #email="ngModel"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            ngModel
            required
            name="password"
            type="password"
            #password="ngModel"
            [disabled]="isLoading"
          />
        </mat-form-field>
        <button
          mat-flat-button
          class="btn-spinner btn-primary"
          color="accent"
          type="submit"
          [disabled]="isLoading"
        >
          <mat-spinner
            class="small-spinner"
            diameter="20"
            *ngIf="isLoading"
          ></mat-spinner>
          <span *ngIf="!isLoading">Login</span>
        </button>
      </form>
    </div>
  </div>
  <!-- Email registration -->
  <div *ngIf="emailRegistration">
    <h2 mat-dialog-title>Become a member</h2>
    <!-- Sign up form -->
    <form (ngSubmit)="onSignUp(signupForm)" #signupForm="ngForm">
      <mat-form-field appearance="outline">
        <mat-label>Full name</mat-label>
        <input
          matInput
          ngModel
          required
          type="text"
          name="name"
          [disabled]="isLoading"
          #name="ngModel"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          ngModel
          required
          email
          type="email"
          name="email"
          [disabled]="isLoading"
          #email="ngModel"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          ngModel
          required
          name="password"
          type="password"
          [disabled]="isLoading"
          #password="ngModel"
        />
      </mat-form-field>
      <button
        mat-flat-button
        class="btn-spinner btn-primary"
        type="submit"
        [disabled]="isLoading"
      >
        <mat-spinner
          class="small-spinner"
          diameter="20"
          *ngIf="isLoading"
        ></mat-spinner>
        <span *ngIf="!isLoading">Sign up</span>
      </button>
    </form>
  </div>
</div>
